* {
  padding: 0 px;
  margin: 0px;
  background-color: #fcfcfc;
}

.delete {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteAllButton {
  width: 100px;
  height: 50px;
  /* margin:  0 auto; */
  background-color: red;
  box-shadow: 2px 2px 2px #8f8d8d50;
  color: white;
  border:  .2px solid #eeeeee;
}
